body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  margin: 0;
}

main {
  margin: 16px;
}

.navbar {
  display: flex;
  align-items: center;

  background: #31505d;
  color: white;
  font-family: Helvetica;
  font-weight: 300;
}

.navbar__title {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
}

.navbar__item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
}
.main-div {
  margin-top: 19px;
}
label.move-left {
  font-size: 19px;
  color: #174055;
  padding: 0px 8px 2px 33px;
  margin-top: 10px;
  font-weight: 600;
}
label.move-right {
  float: right;
  font-size: 15px;
  color: #174055;
  padding: 5px 35px 0px 0px;
  margin-top: 10px;

  margin-top: 10px;
}

.move-left-div {
  font-size: 19px;
  color: #174055;
  margin-top: 10px;
}
.move-right-div {
  float: right;
  font-size: 15px;
  color: #174055;
  margin-top: 10px;
  margin-right: 100px;
}
input.move-right {
  float: right;
  font-size: 15px;
  color: grey;
  padding: 5px 35px 0px 0px;
}
div.main-container {
  background-color: white;
  border: 2px solid #d3d6d3;
  margin: 20px;
  padding: 7px 0px 50px 25px;
  border-radius: 3px;
}
div.box {
  background-color: #f7f6f6;
  border: 1px solid #d3d6d3;
  margin: 20px;
  padding: 7px 0px 50px 25px;
  border-radius: 3px;
}

h2 {
  color: #31505d;
  font-size: 24px;
}
h4.near-text {
  font-size: 15px;
  margin-top: 10px;
}
i.fa.fa-search {
  background-color: #516073;
  padding: 7px 13px 7px 9px;
  margin-left: 1px;
  color: white;
}
.near-text {
  color: #31505d;
  margin-block-start: -0.67em;
  margin-block-end: 0.33em;
}
p {
  color: #31505d;
}
.text {
  color: #31505d;
}

.modal-header {
  padding: 0;
  border-bottom: none;
  margin-left: 90%;
}
.modal-form ul {
  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.modal-form li {
  width: 30%;
  list-style: none;
}
.form-grp {
  width: 100%;
}
select#dummy {
  border: none;
  border-bottom: 1px solid #174055;
  font-size: 13px;
  padding: 3px 23px 0px 15px;
  margin-left: 19px;
}
.form-grp input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #174055;
  font-size: 13px;
}
label {
  color: #174055;
  font-size: 14px;
  margin-bottom: 0;
}
.textarea-field {
  padding: 20px 0;
}
.textarea-field textarea {
  width: 100%;
  border: 1px solid #174055;
  resize: none;
  padding: 10px;
  border-radius: 6px;
}

.upload-field textarea {
  width: 100%;
  border: 1px solid #174055;
  resize: none;
  padding: 10px;
  border-radius: 6px;
  height: 90px;
  overflow-y: auto;
}
.upload-field {
  position: relative;
}
.upload-main {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.upload-left {
  width: 50%;
}
.upload-right {
  width: 40%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}
.attach-file i.fa.fa-paperclip {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
}
.attach-file i.fa.fa-times {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 15px;
}
.upload-right button {
  border: 1px solid #174055;
  background: none;
  padding: 7px;
  font-size: 14px;
  color: #174055;
  font-weight: 600;
  border-radius: 10px;
}

.upload-right button.uploadbtn {
  background: #174055;
  color: #fff;
}
button.close {
  padding: 0;
  opacity: 1;
  margin: 0;
  color: #174055;
  outline: none;
  border: none;
}
button {
  cursor: pointer;
}
